.table > tbody > tr.row-sxplus {
	cursor: default;
}

.table > tbody > tr.row-sxplus a {
	cursor: pointer;
}

.table > tbody > tr.row-sxplus .dashed {
	text-decoration-line: underline;
	text-decoration-style: dashed;
}

.table > tbody > tr.row-sxplus .projected {
	color: #f1c40f;
}
